
body {background-color:#E8E8E8;}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}



/* Container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#E8E8E8;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}


.hero-unit{background-color: #00688B; width: 650px; height: 350px; margin: auto; margin-top: 80px; border-radius: 10px;}
.hero-unit-t{background-color: #00688B; width: auto; height: auto; margin: auto; padding-top: 50px; margin-top: 40px; border-radius: 10px;}
.tabela {border: 1px;  color: #000; font-size: 14px; font-family: Arial; text-align: left; width: 500px;}
.td-1 {width: 200px; font-size: 13px; color: #104E8B;font-weight: bold;}
.td-2 {width: 300px; font-size: 13px; color: #0D0D0E;}
.cond {width: 500px; font-size: 12px; color: #fff; background-color: #00688B;  vertical-align: middle;
    }
.panel {margin-top: 50px; margin: auto; width: 535px; }
